{{#each burgers}}
    <div class="row patty">
        <div class="left col-xs-4">
            {{this.id}}
        </div>
        <div class="col-xs-4">
            {{this.burger_name}}
        </div>
        <div class="right col-xs-4">
            {{this.devoured}}
        </div>
    </div>
{{/each}}






